# Python
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
.env
.env.*

# Jupyter
.ipynb_checkpoints

# OS
.DS_Store
Thumbs.db

# Database
*.sqlite3

# Streamlit / dashboard
.streamlit/

# IDEs
.vscode/
.idea/

postgres_data/
*.log

# ML model
model.pkl
model.pkl
